*{
    box-sizing: border-box;
}
#articulos_en_venta{
    display:block;
}
.saxo{
    float:left;
    border: 1px solid red;
    width:250px;
    text-align: center;
}
.saxo--carrito{
    border: 1px solid black;
}
.saxo_imagen{
    height: 375px;
    width: 140px;
    display:inline-block;
    margin: 0 auto;
}
#coste__total{
    clear:both;
    padding: 10px;
}
.boton{
   padding:3px 5px;
   margin: 0 5px 10px 0;
}

