#articulos_en_venta{
    display:block;
}
.saxo{
    float:left;
}
.saxo_imagen{
    height: 250px;
    width: 250px;
}
#muestra{
    clear:both;
}
.boton__articulo{
    height: 30px;
    width: 80px;
    margin: 0 5px;
}

