html{
    box-sizing: border-box;
}
#articulos_en_venta{
    display:block;
}
.saxo{
    float:left;
    border: 1px solid red;
    width:150px;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
}
.saxo--carrito{
    border: 1px solid black;
    height: 350px;
}
.saxo--carrito--seleccionado{
    border: 5px solid blue;
}
.saxo--carrito--seleccionado p{
    font-weight:bold;
}
.saxo_imagen{
    height: 180px;
    width: 67px;
    display:inline-block;
    margin: 0 auto;
}
#coste__total{
    clear:both;
    padding: 2px;
    /*background-color: green;*/
}
.boton{
   padding:1px 3px;
   margin: 0 2px 5px 0;
   font-size:12px;
}


